.todolist-container {
	background-color: white;
	margin-top: 2rem;
	border-radius: 0.25rem;
	padding: 1rem;
	box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.329);
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.todos-container {
	overflow: auto;
	height: 90%;
}

.todo-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 0.05rem solid rgba(0, 0, 0, 0.082);
	cursor: pointer;
}

.todo-item p {
	padding: 1rem 0.2rem;
}

.todo-item p:first-child {
	flex: auto;
}

.todo-item p:nth-child(2) {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
}

.todo-item-active p:first-child {
	text-decoration: line-through;
	color: grey;
}
